@font-face {
    font-family: Circe-ExtraBold;
    src: url(../fonts/Circe-ExtraBold.ttf);
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: Circe-Regular;
    src: url(../fonts/Circe-Regular.ttf);
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: Circe-Bold;
    src: url(../fonts/Circe-Bold.ttf);
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: Circe-Light;
    src: url(../fonts/Circe-Light.ttf);
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: Cabin-Regular;
    src: url(../fonts/Cabin-Regular.ttf);
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: Cabin-Medium;
    src: url(../fonts/Cabin-Medium.ttf);
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: Cabin-Bold;
    src: url(../fonts/Cabin-Bold.ttf);
    font-weight: normal;
    font-style: normal; }
html {
    position: relative;
    min-height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block; }

.container-fluid {
    padding-right: 0;
    padding-left: 0; }

.container {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0; }

.row {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0; }

a {
    text-decoration: none;
    outline: none;
    border-color: transparent; }

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0; }

a:hover, a:active, a:focus {
    outline:0;
    outline: none; }

input {
    outline: 0 !important; }

button:active, button:focus {
    outline: none; }
a:focus,
button:focus {outline:0;}

.form-control:focus,
.btn:focus {
    outline: 0;
    box-shadow: none; }

button::-moz-focus-inner {
    border: 0; }

input {
    outline: none; }
.transition {
    transition: 0.7s; }

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    -webkit-text-fill-color: #303549 !important;
    color: #303549 !important; }


body {
    font-family: Cabin-Regular, sans-serif;
}

.wrapper {
    position: relative;
    min-width: 320px;
    max-width: 100%;
    min-height: 100%;
    height: 100%; }

.block1{
    background: #fff;
    padding: 12.25rem 2.25rem 0 8.75rem;
    margin-bottom: -20rem;
}
.block1 h1{
    font-family: Circe-ExtraBold, sans-serif;
    font-size: 11.62rem;
    text-shadow: 0 0 100px #e8e8e8;
    position: absolute;
    margin-top:2%;
    color: #fff;
    z-index: 3;
}

.pagination {
    display: flex;
    margin-top: 28rem;
    justify-content: flex-end;
    align-items: flex-start;
    transform: rotate(270deg);
}
.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: none;
}
.pagination .page-item {
    box-shadow: 0 0 100px #e8e8e8;
}
.pagination-lg .page-link {
    font-family: Cabin-Regular, sans-serif;
    padding: 1.35rem 1.75rem;
    font-size: 1.1rem;
    color: #a9a9a9;
    line-height: 1.5;
    border:none ;
    background: #fff;
    border-left: 2px solid #eaeae9;
    border-top: 4px solid transparent;
}
.active-page{
    color:#fbd47e;
    border-top: 4px solid #fbd47e;
}
/*.pagination-lg .page-link:hover{*/
    /*color:#fbd47e;*/
    /*border-top: 4px solid #fbd47e;*/
/*}*/
.pagination .arrow-up{
    background-color: transparent;
    border: none;
}
.pagination .arrow-up svg {
    fill: #d4d4d4;
    width: 3rem;
    height: 2rem;
    margin: 1rem;
    transform: rotate(90deg);
}
.pagination .arrow-down svg{
    fill: #d4d4d4;
    width: 3rem;
    height: 2rem;
    margin: 1rem;
    transform: rotate(270deg);
}
.pagination .arrow-down a svg:hover,
.pagination .arrow-up a svg:hover{
    cursor: pointer;
    fill: #c68a43;}

.pagination .arrow-down a svg:active,
.pagination .arrow-up a svg:active {
    fill: #010101;
}
.pagination-name{
    padding: 31rem 0;
}
.pagination-name ul li{
    font-family: Cabin-Regular, sans-serif;
    list-style: none;
    padding: 2rem 0;
    color: #d4d4d4;
    font-size: 1.1rem;
}
.pagination-name hr {
    /*display: none;*/
    position: absolute;
    margin-top: 0.5rem;
    margin-bottom: 0;
    border: 0;
    border-top: 3px solid #f4c373;
    width: 250px;
    z-index: 3;
}
/*.pagination-name ul li:hover p{*/
    /*display: none;*/
/*}*/
/*.pagination-name ul li:hover hr{*/
    /*display: block;*/
/*}*/

/*carousel*/
.carousel{
    position: relative;
    padding: 10rem 0 0 3rem;
}
.carousel-block {
    background: #fff;
    padding: 17.87rem 0 9.3rem 8.75rem;
}
.carousel-img-title ul{
    display: none;
}
.carousel-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}
.carousel-img img {
    width: 50%;
    height: 17.5rem;
    margin-right: 3rem;
}
.carousel-img h2{
    font-family: Circe-ExtraBold, sans-serif;
    font-size: 3rem;
    color:#282828;
}
.carousel-img p{
    font-family: Circe-Regular, sans-serif;
    font-size: 1.5rem;
    color:#a9a9a9;
}
.carousel-text {
    font-family: Cabin-Regular, sans-serif;
    font-size: 1.1rem;
    color: #353535;
    margin: 5rem 0 0;
    width: 53%;
    text-align: left;
    line-height: 24px;
}
.nav--next:before, .nav--prev:before {
    content: "\2192";
    color: #d4d4d4;
}
.nav--prev:before {
     margin: 3.8rem 3.1rem;
 }
.vertical-navs.inside-navs .nav--next {
    height: 80px;
    line-height: 0;
    margin: 0 -2rem;
}
.ma5slider .slide img, .ma5slider>img.slide {
    width: auto;
}
.vertical-navs .nav--next, .vertical-navs .nav--prev {
    left: 97%;
}
.ma5slider .navs-wrapper {
    box-shadow: 0 0 170px #e8e8e8;
}
.ma5slider {
    margin-bottom: 0;
}

/*END carousel*/
.social-icon{
    position: relative;
    text-align: -webkit-right;
    margin-top: 10rem;
}
.social-icon ul {
    list-style: none;
    text-align: center;
    background: #fff;
    width: 60px;
    box-shadow: 0 0 100px #e8e8e8;
}
.social-icon ul li{
    padding: 1.5rem 0;
}
.social-icon ul li hr {
    margin-top: -0.7rem;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #fff;
    width: 14px;
    float: right;
}
.social-icon ul li:last-child{
    padding: 1.5rem 0 3rem;
}
.social-icon ul li a i{
    font-size: 1.5rem;
    color: #d4d4d4;
}
.social-icon .arrow-up svg:hover,
.social-icon ul li a:hover  i {
    color: #c68a43;
    fill: #c68a43;
}
.social-icon ul li a:hover hr{
    border-color: #c68a43;
}
.social-icon .arrow-up svg:active,
.social-icon ul li a:active i {
    color: #010101;
    fill: #010101;
}
.social-icon ul li a:active hr{
    border-color: #010101;
}
.social-icon .arrow-up{
    padding: 1rem 0;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.social-icon .arrow-up svg{
    fill: #d4d4d4;
    width: 1rem;
    height: 2rem;
    transform: rotate(180deg);
}
.social-icon .arrow-down{
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 1px solid #d4d4d4;
}
.social-icon .arrow-down svg{
    fill: #d4d4d4;
    width: 1rem;
    height: 2rem;
}

/*3d model*/
.model{
    background-color: #edecec;
    padding: 13.8rem 2rem 6.25rem;
}
.model-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #c3c2c2;
    padding: 3rem 5rem;
}
.model-block span{
    font-family: Circe-Regular, sans-serif;
    font-size: 1.5rem;
    color:#9d9d9d;
}
.model-block h3 {
    font-family: Circe-Bold, sans-serif;
    font-size: 3.6rem;
    color:#282828;
}
.model-block button{
    width: 17.5rem;
    height: 3rem;
    padding: 0 1.2rem;
    border-radius: 0;
    font-family: Circe-Bold, sans-serif;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
}
.model-block button span {
    font-size: 0.8rem;
    color: #282828;
    border-bottom: 5px solid #fdcd63;
    padding: 1rem 0 0.6rem;
}
.model-block button:hover{
    box-shadow: 0 0 70px #e8e8e8;
}
.model-block button:hover span{
    color: #f2bf75;
}
.model-block button:active {
    background-color: #f5f2f2;
}
.model-block button:active span{
    background-color: #f5f2f2;
    color: #282828;
}
/*END 3d model*/

/*block2*/
.block2{
    position: relative;
    background-image: url("../img/png/body.jpg");
    background-size: cover;
    padding: 24rem 0;
    background-repeat: no-repeat;
    text-align: center;
}
.block2 h1{
    font-family: Circe-Bold, sans-serif;
    text-align: center;
    color:#fff;
    font-size: 3.85rem;
    margin: 7rem 0 2rem;
}
.block2 .btn{
    font-family: Circe-Bold, sans-serif;
    text-align: center;
    width: 240px;
    height: 60px;
    color:#fecb94;
    font-size: 1.5rem;
    padding: 0.7rem 0;
    margin: 1rem 0 5rem;
    border: 2px solid #fed273;
    border-radius: 0;
}

.block2 .btn:hover {
 background: rgba(46, 41, 36, 0.4)
}
.block2 .btn:active {
    background: rgba(64, 56, 45, 0.9)
}

footer{
    position: absolute;
    height: 12rem;
    bottom: 0;
    width: 100%;
}
.footer-icon{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.footer-copyright{
    font-family: Circe-Bold, sans-serif;
    font-size: 1rem;
    color:#646363;
}
.footer-copyright span{
    color:#d4af7b;
}
.footer-icon ul li{
    list-style: none;
    color:#d4af7b;
    padding: 0 1rem;
}
.footer-icon ul li a i{
    color:#424345;
    font-size: 1.3rem;
}
.footer-icon ul li a i:hover{
    color:#d4af7b;
}
.footer-email a{
    font-size: 1rem;
    text-transform: uppercase;
    color: #ddb680;
}
footer hr{
    background: #646363;
}
.footer-made{
    font-family: Circe-Bold, sans-serif;
    text-align: right;
    padding: 1rem 1rem 3.8rem;
}
.footer-made a{
    color:#6f6f6f;
    font-size: 0.8rem;
}
.footer-made img{
    margin: 1rem 1rem -0.5rem;
    width: 24px;
    height: 24px;
}
/*END block2*/

/*modal*/
.modal{
    margin: 2rem 0;
}
.modal-content{
  background-color: transparent;
    border: 0;
}
.modal-title h4{
    font-family: Circe-Regular, sans-serif;
    text-align: center;
    font-size: 2.6rem;
    color: #fff;
}

.modal-title .close{
    float: right;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1;
    color: #c8a77c;
    text-shadow: none;
    opacity: 1;
    margin: -6rem -4rem 0 0;

}
.modal-title .close:hover{
    color: #40382d;
}
.modal-title .close:active{
    color: #fff;
}
.contact-form{
    display: flex;
    justify-content: space-between;
}
.modal .form-group .form-control{
    font-family: Circe-Light, sans-serif;
    height: calc(2.75rem + 2px);
    color: #fff;
    border: 1px solid #fecb94;
    border-radius: 0;
    cursor: pointer;
    background-color: rgba(64, 56, 45, 0.4);
    margin: 1rem 1rem 1rem 0 ;}

.modal textarea{
    font-family: Circe-Light, sans-serif;
    height: 10.7rem;
    margin: 1rem 0 1rem 1rem;
    width: 60%;
    resize: none;
    cursor: pointer;
    color: #fff !important;
    border: 1px solid #fecb94;
    border-radius: 0;
    background-color: rgba(64, 56, 45, 0.4) !important;
}
.form-control:focus {
    color: #fecb94;
    background-color: rgba(64, 56, 45, 0.4) !important;
    border: 1px solid #fecb94;
}
.modal form{
    text-align: center;
}
.modal form .btn{
    font-family: Circe-Bold, sans-serif;
    text-align: center;
    width: 240px;
    height: 60px;
    color: #fecb94;
    font-size: 1.5rem;
    padding: 0.7rem 0;
    margin: 1rem 0 5rem;
    border: 2px solid #fed273;
    border-radius: 0;
    background: transparent;
}
.modal form .btn:hover{
    background: rgba(46, 41, 36, 0.3)
}
.modal form .btn:active{
    background: rgba(64, 56, 45, 0.9)
}
.form-control-success{
    border: 1px solid #c68a43;
    color: #c68a43;
    font-size: 14px;
}
.form-control-danger{
    border: 1px solid #ff0000;
    color: #ff0000;
    font-size: 14px;
}
.form-control-feedback{
    font-size: 12px;
    color:#ff0000;
}
/*for placeholder*/
.form-control::-webkit-input-placeholder {color:#fecb94;  font-size: 1rem; }
.form-control::-moz-placeholder          {color:#fecb94; font-size: 1rem; }/* Firefox 19+ */
.form-control:-ms-input-placeholder      {color:#fecb94;  font-size: 1rem; }

.form-control::-webkit-input-placeholder:hover {color:#fff;  font-size: 1rem; }
.form-control::-moz-placeholder:hover          {color:#fff; font-size: 1rem; }/* Firefox 19+ */
.form-control:-ms-input-placeholder:hover      {color:#fff;  font-size: 1rem; }



/*END modal*/

/*media*/
@media screen and (max-width: 1500px) {
    .block1{
        background: #fff;
        padding: 14.25rem 0.25rem 0 1.75rem;
        margin-bottom: -25rem;
    }
    .block2 {
        background-position: center;
    }
}
@media screen and (max-width: 1300px) {
    .carousel-block {
        padding: 17.87rem 0 9.3rem 3.75rem;
    }
    .pagination {
        margin-top: 26rem;
    }
    .block1 {
        background: #fff;
        padding: 3.25rem 0.25rem 0 1.75rem;}

}
@media screen and (max-width: 1050px) {
    .ma5slider .slide img, .ma5slider>img.slide {
        width: 60%;
    }
    .pagination-lg .page-link {
        padding: 0.8rem 1rem;}
    .pagination {
        margin-top: 17rem;
    }
    .pagination-name ul li p{
        font-size: 0.8rem;
    }
    .pagination-name {
        padding: 22rem 0;
    }
    .pagination-name ul li {
        padding: 1.4rem 0;
    }
    .block1 {
        margin-bottom: -15rem;
    }
    .carousel-block {
        padding: 8.87rem 0 0 3.75rem;
    }
    .block1 h1 {
        font-size: 8.62rem;}
    .model {
        background-color: #edecec;
        padding: 8.8rem 1rem 6.25rem;
    }
    .block2 h1 {
        margin: 0 0 2rem;
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 770px) {
    .block1 h1 {
        font-size: 6.62rem;
    }
    .carousel-block {
        padding: 7.87rem 0 0 1.75rem;
    }
    .carousel {
        position: relative;
        padding: 6rem 0 0 0;
    }
    .social-icon {
        margin-top: 6rem;
    }
    .social-icon ul {
        width: 40px;
    }
    .social-icon ul li {
        padding: 0.8rem 0;
    }
    .social-icon ul li a i {
        font-size: 1rem;
    }
    .social-icon ul li:last-child {
        padding: 1rem 0 2rem;
    }
    .carousel-img h2 {
        font-size: 1.5rem;
    }
    .carousel-img p {
        font-size: 1rem;}
    .carousel-img img {
        margin-right: 1rem;
    }
    .carousel-text {
        font-size: 0.8rem;
        margin: 2rem 0 0;
        width: 63%;
    }
    .pagination {
        margin-top: 12rem;
    }
    .pagination .arrow-up svg,
    .pagination .arrow-down svg {
        width: 1rem;
        height: 1.2rem;
        margin: 1rem;
    }
    .pagination-name {
        padding: 15rem 0;
    }
    .pagination-name ul li {
        padding: 1.2rem 0;}
    .pagination-name ul li p {
        font-size: 0.65rem;
    }
    .pagination-lg .page-link {
        padding: 0.4rem 0.8rem;
    }
    .block1 {
        margin-bottom: -12rem;
    }
    .model {
        background-color: #edecec;
        padding: 7.8rem 0 6.25rem;
    }
    .model-block {
        padding: 2rem 1rem;
    }
    .model-block h3 {
        font-size: 2rem;
    }
    .social-icon .arrow-up svg {
        height: 1.1rem;
    }
    .model {
        background-color: #edecec;
        padding: 7.8rem 1rem 6.25rem 3rem;
    }
    .model-block span {
        font-size: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .footer-made, .social-icon, .pagination-name{
        display: none;
    }
    .pagination {
        display: none;
        transform: rotate(0deg);
    }
    /*.carousel-img-title ul{*/
        /*display: block;*/
    /*}*/

    .footer-icon {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .block1 {
        background: #fff;
        padding: 2rem 0 0 0;
        margin-bottom: 0;
    }
    .block1 h1 {
        font-size: 3.62rem;
    }
    .ma5slider .slide img, .ma5slider>img.slide {
        width: 98%;
    }
    .carousel-block {
        padding: 7.87rem 0 0 0.3rem;
    }
    .carousel {
        padding: 4rem 0 2rem 0;
    }
    .carousel-img {
        flex-wrap: wrap;
    }
    .model-block {
        flex-wrap: wrap;}
    .carousel-text {
        width: 100%;
    }
    .ma5slider .navs-wrapper {
         box-shadow: none;
    }
    .carousel-block {
        padding: 4.87rem 0 0 0.3rem;
    }
    .model {
        background-color: #edecec;
        padding: 3rem 0 3rem 0;
    }
    .model-block {
        border: 0;
    }
    .model-block h3 {
        font-size: 1.6rem;
        margin: 1rem 0 2rem;
    }
    .block2 h1 {
        margin: 0 0 2rem;
        font-size: 1.9rem;
    }
    .modal form .btn,
    .block2 .btn {
        width: 130px;
        height: 50px;
        font-size: 1.5rem;
        padding: 0.4rem 0;
    }
    .modal-title .close {
        margin: -6rem 0 0 0;
    }
    .modal-title {
        margin-bottom: 0;
        line-height: 1;
    }
    .footer-icon ul li {
        list-style: none;
        color: #d4af7b;
        padding: 1rem;
    }
    .carousel-img h2 {
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .nav--next:before, .nav--prev:before {
        content: "\2192";
        color: #fff;
    }
}